/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.wrapper {
  position: relative;
  padding: 10px;
}

.wrapper input {
  height: 60px;
  width: 0px;
  padding: 0 20px;
  outline: none;
  border: 2px solid #0b8c4c;
  border-radius: 50px;
  font-size: 20px;
  color: #000;
  transition: all 0.7s ease;
}

.wrapper input::placeholder {
  color: #aaa;
}

.wrapper .icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 80px;
  width: 80px;
  background: #0b8c4c;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.wrapper .icon i {
  font-size: 25px;
  color: #fff;
  line-height: 80px;
  transition: all 0.7s ease;
}

.wrapper input:focus,
.wrapper:hover input {
  width: 350px;
}

.wrapper:hover i {
  transform: rotate(-350deg);
}
